# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Raw/processed data
data/raw/*
data/processed/*

# Trained models
models/*

# Results
results/figures/*
results/metrics/*

# Logs
*.logs